<!DOCTYPE HTML>
<html ng-app="accountsApp">
<head>
<title>Accounts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"
    data-integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" data-crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
    data-integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" data-crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.0/ui-bootstrap-tpls.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css" />
<script src="../js/controller.js"></script>
<style>
th {
    text-align: center
}
</style>
</head>
<body ng-controller="TransactionController" data-ng-init="init()">
    <div id="fileUpload" class="row">
        <div class="col-md-3">
            <input id="transactionFile" type="file" data-file-model="transactionFile" />
        </div>
        <div class="col-md-3">
            <button id="submitFileButton" ng-click="uploadTransactions()">Upload Transactions</button>
        </div>
    </div>
    <div id="filters" class="row">
        <div class="col-md-4">
            <p class="input-group">
                <input id="dateFilterStart" type="text" class="form-control" data-uib-datepicker-popup="dd MMM yyyy"
                    ng-model="startDate" data-is-open="startDatePopup.opened" ng-required="true"
                    data-datepicker-options="startDateOptions" ng-change="startChanged()" /> <span
                    class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openStartDate()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-4">
            <p class="input-group">
                <input id="dateFilterEnd" type="text" class="form-control" data-uib-datepicker-popup="dd MMM yyyy"
                    ng-model="endDate" data-is-open="endDatePopup.opened" ng-required="true"
                    data-datepicker-options="endDateOptions" ng-change="endChanged()" /> <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openEndDate()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-4">
            <select id="categoryFilter" class="form-control" ng-model="selectedCategory"
                ng-options="category.name for category in categories">
                <option value="">Select Category</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div id="transactionList" class="col-md-9">
            <table id="TransactionTable">
                <thead>
                    <tr>
                        <th ng-click="sortBy('date')">Date</th>
                        <th ng-click="sortBy('transactionType')">Transaction Type</th>
                        <th ng-click="sortBy('description')">Description</th>
                        <th ng-click="sortBy('paidIn')">Paid In</th>
                        <th ng-click="sortBy('paidOut')">Paid Out</th>
                        <th ng-click="sortBy('balance')">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="transaction in transactions | transactionFilter:startDate:endDate:selectedCategory | orderBy:orderBy:reverse">
                        <td style="text-align: right;">{{transaction.date | date:"fullDate"}}</td>
                        <td>{{transaction.transactionType}}</td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.paidIn | currency:"£":2}}</td>
                        <td>{{transaction.paidOut | currency:"£":2}}</td>
                        <td>{{transaction.balance | currency:"£":2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <uib-accordion id="categoryList">
            <div uib-accordion-group="" class="panel-default category"
                ng-repeat="category in categories | orderBy:'name'">
                <uib-accordion-heading> {{ category.name }}
                <button class="btn pull-right" style="padding: 0px 10px"
                    ng-click="removeCategory(category.name, $event)">x</button>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" id="matcherInput" ng-model="newMatcher.name" />
                    </div>
                    <div class="col-md-3">
                        <button id="addMatcherButton" ng-click="addMatcher(category)">Add</button>
                    </div>
                </div>
                <div ng-repeat="matcher in category.matchers" class="matcher">{{matcher}}</div>
            </div>
            </uib-accordion>
            <div class="row">
                <div class="col-md-9">
                    <input id="categoryName" type="text" ng-model="newCategoryName" />
                </div>
                <div class="col-md-3">
                    <button id="createCategoryButton" ng-click="createCategory()">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>